* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;

    position: absolute;
    width: 1920px;
    height: 700px;

    background: #FFFFFF;
}

.main_logo{
   


}

/* img {
	max-width: 100%;
	display: block;
} 
не понимаю, почему применив css
мой футер выстраивается в столбик?

*/


.container {
	
}

header {
	
}

.content_btns_button_start {
	position: absolute;
width: 140px;
height: 50px;

background: #F25822;
box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
border-radius: 50px;
}

.content_btns_buttonplay{
position: absolute;
width: 90px;
height: 19px;
font-family: 'Gilroy-Bold';
font-size: 15px;
line-height: 18px;
color: #AAAAAA;
}

footer {position: absolute;
    width: 1920px;
    height: 243px;
    
    background: #FFFFFF;
    }